/*MAIN StyleSheet*/

/***************************************************
*												   *
*	NOTE: THE CSS VALIDATOR DOES NOT RECOGNIZE     *
*	:PLACEHOLDER, :VALID, :INVALID:, :REQUIRED,    *
*	PSEUDOCLASSES!!								   *
*												   *
****************************************************/
*{
	box-sizing:border-box;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section { display: block; }

/***************FONT FACE*************************/

body {
    -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}

@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}

/***************FONT FACE*************************/

@font-face {
    font-family: 'webfontregular';
    src: url('font/mikies_christmas_list-webfont.eot');
    src: url('font/mikies_christmas_list-webfont.eot?#iefix') format('embedded-opentype'),
	url('font/mikies_christmas_list-webfont.woff2') format('woff'),
	url('font/mikies_christmas_list-webfont.ttf') format('truetype'),
	url('font/mikies_christmas_list-webfont.svg#webfontregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

/**************GRID SYSTEM SETUP******************/
/***************MOBILE****************************/

[class*="col-"]{
	width:100%;
	float:none;
}

.row:after{
	content:"";
	clear:both;
	display:block;
}

/*****************SEO overwrites for em and strong***************/
em.seo, strong.seo{
	font-style:inherit;
	font-weight:inherit;
}

/**************** SEARCH RESULT DROPDOWN *********************/
#pol-search_dropdown{
	background-color: white;
	box-shadow: 1px 1px 5px black;
	width: 250px;
	border: 1px solid lightgrey;
}
div.angucomplete-row {
	padding:10px;
	border-bottom: 1px solid lightgrey;
}
div.angucomplete-row:hover {
	cursor: pointer;
	background-color: lightgrey;
}

div.angucomplete-title{
	color: slategrey;
	font-weight: bold;
}
div.angucomplete-description {
	display: inline-block;
	padding-left: 20px;
	text-align: center;
	font-size: 14px;
	font-weight: lighter;
	font-style: italic;
	color: darkslategrey;
}

div.angucomplete-image-holder{
	display: inline-block;
}
img.angucomplete-image{
	border-radius: 50%;
	box-shadow: 0.5px 0.5px 2px black;
}

/****************BODY STYLES AND MAIN STYLES*********************/
body{
	background-color:#cfe2f3;
	margin:0;
}

#services-main{
	padding: 75px 5px 0;
}

/***********Tweet Styles***************/
#feed div{
	background-color: #cecee0;
	border-radius:10px;
	padding : 10px;
	width: 400px;
	border: solid 2px black;
	margin-top:10px;
	box-shadow: 2px 2px 2px;
}

#feed img{
	border-radius: 5px;
	border : solid 1px #545159;
	box-shadow: 2px 2px 2px;
}

#feed div p:first-of-type{
	display:inline-block;
	width: 75%;
	margin-left: 10px;
}

#feed .realName, #feed .screenName{
	font-weight: bold;
}

#feed .screenName{
	color:#13134c;
}

#feed .date{
	font-family: 'Ubuntu', sans-serif;
}

#feed .tweetText{
	font-family: 'Kanit', sans-serif;
}

#feed .disclaimer{
	font-size:10px;
	color:red;
}

#feed .trump{
	font-family: "webfontregular", "comic-sans", cursive;
}

/****************HEADER STYLES*******************/

/**************HAMBURGER MENU******************/
#header-container{ /*this container is necessary for viewports which are >1000px*/
	background-color:#64a4dc;
	position:fixed;
	width:100%;
	top:0;
	z-index:100;
	border-bottom:solid 3px #0066af;
	height:73px;
}

header{
	margin-bottom: -3px;
}

header>a{
	display:inline-block;
	width:50px;
	vertical-align:top;
	margin-left:10px;
}

.no-pad{ /*general rule*/
	margin:0;
}

#search-1{
	display:none;
}

#search-2{
	margin-top:-14px;
}

#logo{
	width:16.666% !important;
	margin-left:28.55%;
	margin-bottom:5px;
}

#logo img{
	width:50px;
	/* padding:5px 0px 5px; */
	display:block;
	margin:auto;
}

.hamburger{
	height:50px;
	width:50px;
	margin-left:10px;
	padding-bottom:10px;
}

.hamburger>div{
	height:13px;
	border-bottom: solid 3px white;
	vertical-align:top;
}

nav{
	display:none;
}

#off{
	display:none;
}

#on:target ~ nav{
	display:block;
}

#on:target ~ #off{
	display:inline-block;
}

#on:target{
	display:none;
}

.errors{
	font-size:13px;
	color:red;
}

/******************UNORDERED LIST STYLE***************/

nav ul, .site-hub ul, .social ul, #address ul{
	padding:0;
	list-style:none;
}

nav a{
	display:block;
	color:white;
	text-decoration:none;
	padding: 30px 10px;
	width:100%;
	font-family: 'cabinmedium', 'Arial','sans-serif';
	border-right:solid 2px white;
	border-left:solid 2px white;
}

nav li:hover{
	cursor:pointer;
}

nav{
	margin: -15px 0; /*to align the nav properly*/
}

#capitol{
	display:block;
	width:150px;
	margin:auto;
	margin-top: 20px;
}

/**********************login form styles***********************/

#login label {
	display:inline-block;
	width:130px;
	margin-bottom: 10px;
}

#login{
	font-weight:bold;
	width:600px;
	margin-left:15%;
	margin-bottom: 50px;
}
#login a{
	text-decoration:none;
	color:darkblue;
	margin-top: 10px;
	display:inline-block;
}
#login a:hover{
	color:blue;
}
#login button{
	padding: 10px 0;
	background-color: green;
	color:white;
	font-weight: bold;
	width:200px;
	margin-left: 105px;
}

/***************MAIN STYLE******************/

.mySearch{
	margin-bottom:35px;
	width:400px;
}

.mySearch  fieldset{
	width:300px;
	display:flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
}

.mySearch label{
	display:block;
	margin-bottom:15px;
}

ng-view{
	display:flex;
	justify-content: center;
}

main{
	padding-top:75px;
}

.searchbar{
	position:relative;
	height:50px;
	padding:0 !important;
}
.searchbar input{
	background-color:#00b487;
	border:solid 2px #006767;
	height:100%;
	width:100%;
	padding-left:5px;
}

.searchbar button:hover{
	cursor:pointer;
}

.searchbar input::placeholder{
	color:#eee;
}

body{
	font-family:'cabinmedium', 'Arial','sans-serif';
}

main h1{
	font-family: 'Audiowide', cursive;
	text-align:center;
	font-size:28px;
	padding: 0 10px;
}

/*Search bar style*/

.searchbar button img{
	width:25px;
	margin-top:3px;
}

.searchbar button{
	padding:10px;
	margin:0;
	border:0;
	position:absolute;
	right:0;
	top:2px;
	height:92%;
	background-color:#810000;
	border-bottom:solid 5px #610000;
	width:20%;
}

/*Section box styles*/
.section-box h2{
	text-align:center;
	margin:5px;
}

.section-box{
	margin: 20px 0;
	margin-bottom:20px;
	padding:0 15px;
}

.section-box p, #services-text p{
	text-align:justify;
}

.section-box img{
	margin-bottom: 10px;
	padding:0;
}

.button-container{
	margin-top:10px;
	height:65px;
	line-height:14px;
	border-radius:25px;
	background-color:#00b487;
	width:50%;
	border-bottom:solid 5px #005c5c;
}

.button-container a{
	display:block; /* Some backups styles in case flexbox is incompatible*/
	font-weight:bold;
	padding: 10px 5px;
	text-decoration:none;
	color:black;
	text-align:center;
	height:100%;
	width:100%;
	display:-webkit-box;
	display:-ms-flexbox;
	display:flex;
	-webkit-box-pack:center;
	-ms-flex-pack:center;
	justify-content:center;
	-webkit-box-align:center;
	-ms-flex-align:center;
	align-items:center;
	-ms-flex-wrap:wrap
}

.button-container span{
	display:block;
	max-width:100%;
}

.button-container:hover{
	background-color:rgba(255,127,80,0.7);
}

/***************FOOTER STYLES*****************/

/*Site hub styles*/
#footer-container{ /*this container is necessary for viewports which are >1000px*/
	background-color:#64a4dc;
	border-top: solid 3px #0066af;
	padding:10px 0;
}

footer h3{
	font-size:30px;
	text-align:center;
	margin-top:0;
	margin-bottom:15px;
}

footer a{
	font-size:20px;
}

.site-hub ul{
	margin-top:-20px;
}

.site-hub, .social{
	padding: 0 15px;
}

.site-hub li{
	float:left;
	width:50%;
	font-size:30px;
	padding-bottom:10px;
}

.site-hub li:nth-child(even){
	text-align:right;
}

.site-hub a{
	color:white;
	text-decoration:none;
	-webkit-text-stroke: 0.33px #006969;
	display:inline-block;
	width:100%;
}

.site-hub a:hover{
	color:rgba(255,127,80,0.9);
}

.social>div>ul{
	display:flex;
	display: -ms-flexbox;
	justify-content:center;
	-ms-flex-pack: center;
	-ms-flex-wrap:wrap
}

.social img{
	display:inline-block;
	width:75%;
}

.social li{
	width:25%;
}

.social h3{
	padding:0;
}
.contact-phone a{
	color:white;
	text-decoration:none;
}
.contact-phone a:hover, .tab a:hover{
	color: rgba(255,127,80,0.9);
}


/******************STYLE FOR OOPS(ERROR) PAGE*********************/

.oops h1{
	padding-top: 150px;
}

.oops h3{
	padding-bottom: 150px;
	text-align:center;
}

/***************Keyframes animation - make the logo shake ****************/

@keyframes logo-shake{
	17%{
		transform:rotate(0deg);
	}
	20%{
		transform:rotate(15deg);
	}
	23%{
		transform:rotate(-15deg);
	}
	27%{
		transform:rotate(0);
	}
}

#logo{
	animation: logo-shake 10s infinite;
}

/***************TABLET STYLES****************/
@media only screen and (min-width: 480px){

	[class*="col-"]{
		float:left;
	}

	.col-m-1 {
		width:8.33%;
	}

	.col-m-2 {
		width:16.66%;
	}

	.col-m-3 {
		width:25%;
	}

	.col-m-4 {
		width:33.33%;
	}

	.col-m-5 {
		width:41.66%;
	}

	.col-m-6 {
		width:50%;
	}

	.col-m-7{
		width:58.33%;
	}

	.col-m-8{
		width:66.66%;
	}

	.col-m-9{
		width:75%;
	}

	.col-m-10{
		width:83.33%;
	}

	.col-m-11{
		width:91.66%;
	}

	.col-m-12{
		width:100%;
	}
	/*******************HEADER STYLES TABLET*************/
	#search-2{
		margin-top:0;
	}

	#logo{
		margin:0;
	}

	#on, #off{
		display:none !important;
	}

	#logo{
		float:left;
	}

	#logo img{
		padding: 15px 0;
	}

	nav li{
		text-align:center;
	}

	nav a{
		padding:26.5px 0;
		border:none;
		border-right:solid 1px white;
		border-left:solid 1px white;
		font-size:13px;
	}

	nav{
		display:inline-block;
	}

	main form{
		margin-left:8.333%;
	}

	.section-box p{
		min-height:220px;
	}

	/*******************FOOTER STYLES TABLET*************/

	.section-box h2{
		font-size:20px;
	}

	.site-hub li:nth-child(even){
		text-align:left;
	}
	.site-hub li:nth-child(3n){
		text-align:right;
	}
	.site-hub li:nth-child(3n+2){
		text-align:center;
	}
	.social ul{
		margin-left:16.666%;
	}
	.site-hub li{
		width:33.33%;
	}
	footer ul{
		margin-top:0;
		margin-bottom:0;
	}
	.mobile-right{
		margin-top:6px;
		padding-left:10px;
	}

	/*******************SERVICES TABLET STYLES*************/

	#secondary-nav li{
		width:100%;
	}

	#secondary-nav li:nth-child(2) a{
		border-right:solid 2px #009966;
		border-left:solid 2px #009966;
	}

	.responsive-video{
		padding-top:40px;
	}

	/*******************CONTACT TABLET STYLES*************/
	#address h3{
		margin-bottom:20px;
	}

	.form-break:first-of-type{
		padding-right:20px;
	}
	.form-break span{
		display:block;
	}
	#contact-form input[type="submit"]{
		width:98%;
	}
	#contact-form{
		margin-left:0;
	}
}

/*********************DESKTOP STYLES***************************/
@media only screen and (min-width: 768px){
	.col-1 {
		width:8.33%;
	}

	.col-2 {
		width:16.66%;
	}

	.col-3 {
		width:25%;
	}

	.col-4 {
		width:33.33%;
	}

	.col-5 {
		width:41.66%;
	}

	.col-6 {
		width:50%;
	}

	.col-7{
		width:58.33%;
	}

	.col-8{
		width:66.66%;
	}

	.col-9{
		width:75%;
	}

	.col-10{
		width:83.33%;
	}

	.col-11{
		width:91.66%;
	}

	.col-12{
		width:100%;
	}

	/*************CHANGE SEARCH BAR POSITION******************/
	#search-2{
		display:none;
	}

	#search-1{
		display:block;
		padding:18px 5px;
	}
	#search-1 form{
		height:30px;
	}
	#search-1 input{
		border-radius:15px;
	}
	#search-1 img{
		margin-top:0;
		padding-left:5px;
		padding-right:5px;
		padding-top:4px;
	}
	#search-1 button{
		height:85%;
		padding:0;
		border-radius: 0 15px 15px 0;
	}
	#search-1 button:hover{
		background-color:rgba(200,0,0,0.7)
	}
	/*********REST OF HEADER STYLES*********/
	nav li:hover{
		background-color:rgba(0,128,128,0.7)
	}

	#slider{
		width:80%;
		margin:auto;
		position:relative;
	}

	#active{
		text-align:center; /*center the labels*/
		position:absolute;
		top:90%;
		left:45%;
	}

	#active label{
		width:17px;
		height:17px;
		margin-right:-2px;
	}

	/*********************STYLES FOR THE TABBED CONTENT (services page - Desktop)*************************/

	.tabs {
		position: relative;
		margin: 55px 0 25px;
	}
	.tab {
		float: left;
	}
	.tab label {
		top: -29px;
		display:inline;
	}
	.tab label:hover{
		cursor:pointer;
		background-color:#009191;
	}
	.content {
		position: absolute;
		top: 0;
		left: 0;
		bottom:0;
		padding: 20px;
		border: 1px solid #009966;
		transition: height 0s linear !important;
		width:100%;
		font-size:20px;
	}

	.content>*{
		transition:none !important; /*disable mobile transition*/
	}
	.tabs [type=radio]:checked ~ label {
		background-color:#ddffff;
		border-bottom: 1px solid #ddffff;
		z-index: 2;
	}
	.tabs [type=radio]:checked ~ label ~ .content {
		z-index: 1;
		opacity: 1;
	}

	/**********DESKTOP FOOTER STYLES**************/
	.site-hub li{
		width:50%;
	}

	.site-hub li:nth-child(even){
		text-align:right;
	}

	.site-hub li:nth-child(odd){
		text-align:left;
	}

	.social div{
		margin-top:20px;
	}

	.contact-phone{
		margin-top:50px;
	}
	.contact-phone a{
		display:block;
	}

	/**********DESKTOP CONTACT PAGE STYLES**************/
	#address{
		text-align:left;
	}
	.company-info{
		padding:0 10px;
	}
	#hours h3{
		text-align:left;
	}
}

/*Create a wrapper once the screen exceeds 1000px*/
@media only screen and (min-width: 1000px){

	.wrapper{
		width:1000px;
		margin:auto;
		margin-bottom:-15px;
	}

	header{
		left:calc(1000px - 50vw);
	}
}
